/*Slideshow*/
#slider {
    background-color: black;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    width: 100%;
    height: 550px;
    position: relative;
    /*animation: slide 1s infinite;*/
  }
  
  .slides img {
    width: 100%;
    height: 500px;
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -600px;
    }
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    outline: none;
  }

  .prev,.next button,img{
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
  }

  .next,.prev button,img{
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .test{
    background-color: blueviolet;
  }

/*Sobre nós*/
    
.background-image{
    background-position: center center;
    background-size: cover;
    background-image: url(images/backgroud.jpg);
    background-repeat: no-repeat;
}

.background-aboutUs{
    width: 100%;
    height: 539px;
    background-color: rgba(242,237,237,.9);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1{
    text-align: center;
    line-height: 1.5cm;
    letter-spacing: -.6px;
    color: #54595f;
    font-size: 28px;
    font-weight: 700;
}

.content p{
    text-align: center;
    line-height: 1.5cm;
    letter-spacing: -.6px;
    color: #7a7a7a;
    font-family: "Barlow",Sans-serif;
    font-size: 15px;
}

.content2{
    line-height: 1cm;
}

.specialties{
    display: flex;
    width: 1140px;
    height: 207px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -103px;
}

.quality{
    background-color: #7A7A7A;
    width: 380px;
    height: 207px;
    text-align: left;
    color: white;
}

.guarantee{
    background-color: #9bc63d;
    width: 380px;
    height: 207px;
    text-align: left;
    color: white;
}

.specialties h1{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 23px;
}
.specialties p{
    margin-left: 15px;
    font-size: 15px;
    margin-top: 15px;
}

.distribution{
    background-color: #7A7A7A;
    width: 380px;
    height: 207px;
    text-align: left;
    color: white;
}

/*Produtos*/

.products .title{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.title h1{
    color: #606062;
    font-size: 28px;
    font-weight: 700;
}

.products-information{
    width: 100%;
    height: 718px;
    margin-top: -15px;
}

.products-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

.products-row .product{
    width: 353px;
    height: 359px;
    margin-left: 16px;
    border-radius: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

.product img{
    width: 353px;
    height: 359px;
    border-radius: 5%;
}

/*Endereço*/

.address-space{
    width: 100%;
    height: 80px;
}

.address-backgroud{
    background-color: #54595F;
    width: 100%;
    height: 534px;
    text-align: left;
    display: flex;
}

.address-content{
    margin-left: 385px;
    padding-top: 60px;
}

.address-content h1{
    color: #fff;
    font-family: "Barlow",Sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.address-content p{
    margin-top: 30px;
    color: #fff;
    font-family: "Barlow",Sans-serif;
    font-size: 17px;
    font-weight: 200;
    font-style: normal;
    line-height: 1.9em;
    /**letter-spacing: -.6px;**/
}

.address-content button{
    width: 145px;
    height: 35px;
    margin-top: 35px;
    background-color: #61CE70;
    border-color: transparent;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.address-icon{
    width: 353px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
    margin-left: 120px;
}

.address-icon img{
    width: 280px;
    height: 280px;
}